:root{
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --Blue: hsl(248, 32%, 49%);
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

*{
    font-family: Poppins;
    padding: 0;
    margin: 0;
}

body{
    background: url('./assets/images/bg-intro-desktop.png'), var(--Red);
}

.body{
    gap: 5%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.LeftSide{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}